html {
  box-sizing: border-box;
  margin: 0;
}

header {
  height: 128px;
  width: 100%;
  background-color: rgba(78, 164, 135, 1);
}

.landing-section {
  display: flex;
  justify-content: space-between;
}

.fact-list {
    font-size: 16px;
    display: flex;
    gap: 32px;
}

.fact{
    display: flex;
    gap: 6px;
    
    align-items: center;
}

.fact-calender{
    height: 16px;
    width: 18px;
}

.fact-eyeglasses{
    height: 7px;
    width: 20px;
}

.fact-visibility{
    height: 14px;
    width: 20px;
}

.fact-share{
    height: 18px;
    width: 16px;
}


.author {
  background-color: rgba(78, 164, 135, 0.2);
  border-radius: 30px;
  height: 389px;
  width: 272px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

footer {
  height: 152px;
  width: 100%;
  background-color: rgba(78, 164, 135, 1);
}

@media screen and (min-width: 1440px) {
  html {
    padding-left: max(120px, calc(50% - 720px));
    padding-right: max(120px, calc(50% - 720px));
  }

  .landing-section {
    padding-left: max(120px, calc(50% - 600px));
    padding-right: max(120px, calc(50% - 600px));
  }
}
