* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Palanquin";
}

header {
  display: flex;
  padding: 120px max(calc(50% - 720px), 120px);
}

header > h1 {
  font-size: 40px;
  color: var(--font-color-title);
  font-weight: 600;
}

section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 48px max(calc(50% - 720px), 120px);
}

section > h2 {
  font-size: 48px;
  color: var(--font-color-h1);
  font-family: "Arima";
  font-weight: 700;
}

section > p {
    font-size: 22px;
    color: var(--font-color-introduction);
}

/* Responsiveness */
@media screen and (min-width: 768px) and (max-width: 1280px) {
    header {
        padding: 100px max(calc(50% - 720px), 64px);
    }
    
    header > h1 {
        font-size: 28px;
    }

    section {
        padding: 0px max(calc(50% - 720px), 64px);
    }

    section > h2 {
        font-size: 36px;
    }

    section > p {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    header {
        padding: 100px max(calc(50% - 720px), 28px);
    }
    
    header > h1 {
        font-size: 28px;
    }

    section {
        padding: 0px max(calc(50% - 720px), 28px);
    }

    section > h2 {
        font-size: 32px;
    }

    section > p {
        font-size: 16px;
    }
}